* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  padding: 0px;
  margin: 0px;
}

button:focus {outline:0;}

#signupMainContainer {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a);
  color: #F8F9F9; 
}

#signupFormContainer {
  border: 2px solid #F8F9F9;
  padding: 10px;
  justify-content: center;
  align-items: space-between;
  text-align: center;
  box-shadow: 18px 18px 20px -12px rgba(217, 217, 217, 0.35)
}

#submitContainer {
  margin-top: 10px;
}

#latContainer {
  margin-top: 10px;
}

#userContainer {
  margin-top: 10px;
}

#longContainer {
  margin-bottom: 10px;
}

input.signup {
  width: 60%;
  margin: 5px;
  float: right;
}

label.signup {
  float: left;
  margin: 8px;
}